<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devteam.mapper.BlogMapper">

    <resultMap id="blog" type="com.devteam.entity.Blog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="videoId" column="video_id" />
        <result property="createYear" column="create_year" />
        <result property="content" column="content" />
        <result property="description" column="description" />
        <result property="published" column="is_published" />
        <result property="recommend" column="is_recommend" />
        <result property="appreciation" column="is_appreciation" />
        <result property="commentEnabled" column="is_comment_enabled" />
        <result property="top" column="is_top" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="views" column="views" />
        <result property="words" column="words" />
        <result property="readTime" column="read_time" />
        <result property="password" column="password" />
        <association property="user" javaType="com.devteam.entity.User">
            <id property="id" column="user_id" />
            <result property="username" column="username" />
            <result property="nickname" column="nickname" />
            <result property="avatar" column="avatar" />
            <result property="email" column="email" />
            <result property="createTime" column="user_create_time" />
            <result property="updateTime" column="user_update_time" />
            <result property="role" column="role" />
        </association>
        <association property="category" javaType="com.devteam.entity.Category">
            <id property="id" column="category_id" />
            <result property="name" column="category_name" />
        </association>
        <collection property="tags" javaType="com.devteam.entity.Tag">
            <id property="id" column="tag_id" />
            <result property="name" column="tag_name" />
            <result property="color" column="color" />
        </collection>
    </resultMap>

    <select id="getListByTitleAndCategoryId" resultMap="blog">
        <bind name="titlePattern" value="'%' + title + '%'" />
        select b.id, b.title, b.video_id, b.create_year, b.create_time, b.update_time, b.is_published, b.is_recommend, b.is_appreciation,
        b.is_comment_enabled, b.is_top, b.password,
        c.id as category_id, c.category_name
        from blog as b left join category as c on b.category_id=c.id
        <where>
            <if test="title!=null and title!=''">
                b.title like #{titlePattern}
            </if>
            <if test="categoryId!=null">
                and b.category_id=#{categoryId}
            </if>
        </where>
    </select>

    <resultMap id="searchBlog" type="com.devteam.model.vo.SearchBlog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="videoId" column="video_id" />
        <result property="createYear" column="create_year" />
    </resultMap>

    <select id="getSearchBlogListByQueryAndIsPublished" resultMap="searchBlog">
        <bind name="queryPattern" value="'%' + query + '%'" />
        select id, title, content, video_id, create_year
        from blog
        where is_published=true and password='' and content like #{queryPattern}
    </select>

    <resultMap id="blogIdAndTitle" type="com.devteam.model.vo.BlogIdAndTitle">
        <id property="id" column="id" />
        <result property="title" column="title" />
    </resultMap>

    <select id="getIdAndTitleList" resultMap="blogIdAndTitle">
        select id, title, videoId, createYear from blog order by create_time desc
    </select>

    <resultMap id="newBlog" type="com.devteam.model.vo.NewBlog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="password" column="password" />
    </resultMap>

    <select id="getNewBlogListByIsPublished" resultMap="newBlog">
        select id, title, password
        from blog
        where is_published=true
        order by create_time desc
    </select>

    <resultMap id="blogInfo" type="com.devteam.model.vo.BlogInfo">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="createTime" column="create_time" />
        <result property="views" column="views" />
        <result property="words" column="words" />
        <result property="readTime" column="read_time" />
        <result property="top" column="is_top" />
        <result property="password" column="password" />
        <association property="category" javaType="com.devteam.entity.Category">
            <result property="name" column="category_name" />
        </association>
    </resultMap>

    <select id="getBlogInfoListByIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from blog as b left join category as c on b.category_id=c.id
        where b.is_published=true
    </select>

    <select id="getBlogInfoListByCategoryNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from category as c left join blog as b on b.category_id=c.id
        where c.category_name=#{categoryName} and b.is_published=true
    </select>

    <select id="getBlogInfoListByTagNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from (((tag as t left join blog_tag as bt on t.id=bt.tag_id) left join blog as b on bt.blog_id=b.id) left join category as c on b.category_id=c.id)
        where t.tag_name=#{tagName} and b.is_published=true
    </select>

    <select id="getGroupYearMonthByIsPublished" resultType="java.lang.String">
        select date_format(create_time, "%Y%m")
        from blog
        where is_published=true
        group by date_format(create_time, "%Y%m")
        order by date_format(create_time, "%Y%m") desc
    </select>

    <resultMap id="archiveBlog" type="com.devteam.model.vo.ArchiveBlog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="day" column="create_day" />
        <result property="password" column="password" />
        <result property="videoId" column="video_id" />
        <result property="createYear" column="create_year" />
    </resultMap>

    <select id="getArchiveBlogListByYearMonthAndIsPublished" resultMap="archiveBlog">
        select id, title, video_id, password, create_year, date_format(create_time,"%d") as create_day
        from blog
        where date_format(create_time,"%Y%m")=#{yearMonth} and is_published=true
        order by create_time desc
    </select>

    <resultMap id="randomBlog" type="com.devteam.model.vo.RandomBlog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="password" column="password" />
        <result property="createTime" column="create_time" />
        <result property="videoId" column="video_id" />
        <result property="createYear" column="create_year" />
    </resultMap>

    <select id="getRandomBlogListByLimitNumAndIsPublishedAndIsRecommend" resultMap="randomBlog">
        select id, title, password, create_time, video_id, create_year
        from blog
        where is_published=true and is_recommend=true
        order by rand() limit #{limitNum}
    </select>

    <select id="getBlogViewsList" resultType="com.devteam.model.dto.BlogView">
        select id, views from blog
    </select>

    <delete id="deleteBlogById">
        delete from blog where id=#{id}
    </delete>

    <delete id="deleteBlogTagByBlogId">
        delete from blog_tag where blog_id=#{blogId}
    </delete>

    <insert id="saveBlogTag">
        insert into blog_tag (blog_id, tag_id) values (#{blogId}, #{tagId})
    </insert>

    <insert id="saveBlog" parameterType="com.devteam.model.dto.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into blog (title, video_id, create_year, content, description, is_published, is_recommend, is_appreciation, is_comment_enabled,
        is_top, create_time, update_time, views, words, read_time, category_id, user_id, password)
        values (#{title}, #{videoId}, #{createYear}, #{content}, #{description}, #{published}, #{recommend}, #{appreciation}, #{commentEnabled},
        #{top}, #{createTime}, #{updateTime}, #{views}, #{words}, #{readTime}, #{category.id}, #{user.id}, #{password})
    </insert>

    <update id="updateBlogRecommendById">
        update blog set is_recommend=#{recommend} where id=#{blogId}
    </update>

    <update id="updateBlogTopById">
        update blog set is_top=#{top} where id=#{blogId}
    </update>

    <update id="updateBlogVisibilityById">
        update blog set is_appreciation=#{bv.appreciation}, is_recommend=#{bv.recommend}, is_comment_enabled=#{bv.commentEnabled},
        is_top=#{bv.top}, is_published=#{bv.published}, password=#{bv.password}
        where id=#{blogId}
    </update>

    <update id="updateViews">
        update blog set views=#{views} where id=#{blogId}
    </update>

    <select id="getBlogById" resultMap="blog">
        select b.id, b.title, b.video_id, b.create_year, b.content, b.description, b.is_recommend, b.is_published, b.is_appreciation,
        b.is_comment_enabled, b.is_top, b.create_time, b.update_time, b.views, b.words, b.read_time, b.password,
        c.id as category_id, c.category_name,
        bt.tag_id as tag_id, t.tag_name as tag_name, t.color
        from (((blog as b left join category as c on b.category_id=c.id) left join blog_tag as bt on b.id=bt.blog_id) left join tag as t on bt.tag_id=t.id)
        where b.id=#{id}
    </select>

    <select id="getTitleByBlogId" resultType="java.lang.String">
        select title from blog where id=#{id}
    </select>

    <resultMap id="blogDetail" type="com.devteam.model.vo.BlogDetail">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="videoId" column="video_id" />
        <result property="createYear" column="create_year" />
        <result property="content" column="content" />
        <result property="appreciation" column="is_appreciation" />
        <result property="commentEnabled" column="is_comment_enabled" />
        <result property="top" column="is_top" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="views" column="views" />
        <result property="words" column="words" />
        <result property="readTime" column="read_time" />
        <result property="password" column="password" />
        <association property="category" javaType="com.devteam.entity.Category">
            <result property="name" column="category_name" />
        </association>
        <collection property="tags" javaType="com.devteam.entity.Tag">
            <result property="name" column="tag_name" />
            <result property="color" column="color" />
        </collection>
    </resultMap>

    <select id="getBlogByIdAndIsPublished" resultMap="blogDetail">
        select b.id, b.title, b.video_id, b.content, b.is_appreciation, b.is_comment_enabled, b.is_top,
        b.create_time, b.update_time, b.views, b.words, b.read_time, b.password, b.create_year,
        c.category_name,
        t.tag_name as tag_name, t.color
        from (((blog as b left join category as c on b.category_id=c.id) left join blog_tag as bt on b.id=bt.blog_id) left join tag as t on bt.tag_id=t.id)
        where b.id=#{id} and b.is_published=true
    </select>

    <select id="getBlogPassword" resultType="java.lang.String">
        select password from blog where id=#{blogId}
    </select>

    <update id="updateBlog">
        update blog set title=#{title}, video_id=#{videoId}, content=#{content}, description=#{description},
        is_recommend=#{recommend}, is_published=#{published}, is_appreciation=#{appreciation}, is_comment_enabled=#{commentEnabled},
        is_top=#{top}, create_time=#{createTime}, update_time=#{updateTime}, views=#{views},
        words=#{words}, read_time=#{readTime}, category_id=#{category.id}, password=#{password}, create_year=#{createYear}
        where id=#{id}
    </update>

    <select id="countBlog" resultType="java.lang.Integer">
        select count(*) from blog
    </select>

    <select id="countBlogByIsPublished" resultType="java.lang.Integer">
        select count(*) from blog where is_published=true
    </select>

    <select id="countBlogByCategoryId" resultType="java.lang.Integer">
        select count(*) from blog where category_id=#{categoryId}
    </select>

    <select id="countBlogByTagId" resultType="java.lang.Integer">
        select count(*) from blog_tag where tag_id=#{tagId}
    </select>

    <select id="getCommentEnabledByBlogId" resultType="java.lang.Boolean">
        select is_comment_enabled from blog where id=#{blogId}
    </select>

    <select id="getPublishedByBlogId" resultType="java.lang.Boolean">
        select is_published from blog where id=#{blogId}
    </select>

    <resultMap id="categoryBlogCount" type="com.devteam.model.vo.CategoryBlogCount">
        <id property="id" column="category_id" />
        <result property="value" column="blog_count" />
    </resultMap>

    <select id="getCategoryBlogCountList" resultMap="categoryBlogCount">
        select category_id, count(category_id) as blog_count from blog group by category_id
    </select>
</mapper>