<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devteam.mapper.CityVisitorMapper">

    <resultMap id="cityVisitor" type="com.devteam.entity.CityVisitor">
        <result property="city" column="city"/>
        <result property="uv" column="uv"/>
    </resultMap>

    <select id="getCityVisitorList" resultMap="cityVisitor">
        select city, uv from city_visitor order by uv desc
    </select>

    <insert id="saveCityVisitor" parameterType="com.devteam.entity.CityVisitor">
        insert into city_visitor (city, uv) values (#{city}, #{uv})
        on duplicate key update
        uv=uv+#{uv}
    </insert>
</mapper>